*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
header{
    background-color: #F6F8F9;

}
.navi{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.user{
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 40px;
    margin-right: 20px;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #515254;
    transition: all .45s ease;
    font-weight: bold;

}
nav ul li a:hover{
    color: rgb(0, 0, 0);
}

.logo{
    color: #fa6980;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 20px;
    font-weight: bold;
}

.navlist{
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 27px;
    
}





.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 8%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}
.sub-menu-wrap.open-menu{
    max-height: 400px;
}

.sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
}
.user-info{
    display: flex;
    align-items: center;
    
}
.user-info h2{
    font-weight: 500;
}
.user-info img{
    width: 60px;
    margin-right: 15px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    margin: 15px 0 10px;
}


.sub-menu-link{
    display: flex;
    align-items: center;
    color: #525252;
    margin: 12px 0;
}
.sub-menu-link p{
    width: 100%;
}
.sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}
.sub-menu-link:hover p{
    font-weight: 600;
}



/* ------------Main Start------------------ */

.img-box{
    position: relative;
    width: 110%;
}
.img-box img{
    width: 100%;
}

.button1{
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: rgb(140, 136, 136);
    margin-left: 15px;    
}
.sldshow{
    margin-left: 200px;
}

.button1:hover{
    color:#000000;
}




.sectslider{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;

}
.slider-info{
    margin-left: 110px;
}
.slider-info h1{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 30px;
}
.slider-info hr{
    width: 500px;
    margin-bottom: 25px;
}
.slider-info h3{
    margin: 15px 0;
}
.slider-info span{
    color: rgb(201, 80, 80);
    font-size: 20px;
}
.slider-info p{
    color: #515254;
    margin-top: 15px;
}
.slidbtn{
    display: flex;
}
.slider-text{
    position: absolute;
    top: 100px;
    left: 50px;
}
.slider-text h1{
    color: #fff;
    margin-bottom: 15px;
}
.slider-text hr{
    margin-bottom: 20px;
    width: 550px;
}
.slider-text h3{
    color: #fff;
    margin-bottom: 15px;
}
.slider-text p{
    color: #fff;
    line-height: 20px;
    line-height: bold;
    margin-bottom: 20px;
}
.slider-text .learnmore{
    padding: 12px 25px;
    background: #fa6980;
    border-radius: 8px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    width: 150px;
    text-align: center;
}




.box-area{
    padding: 50px;
    position: relative;
    display: block;
    background: #eaeaea;
    margin: 40px 0;
    border-radius: 3px;
}
.box-area h4{
    color: #000000;
    margin-bottom: 40px;
}
.box-area .testimonial-text{
    color: #515254;
}
#testimonial_area .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
}
#testimonial_area .owl-prev,
#testimonial_area .owl-next{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: rgb(176, 176, 176);
    position: absolute;
}
#testimonial_area .owl-prev{
    left: -60px;
    top: -30px;
}
#testimonial_area .owl-next{
    right: -60px;
    top: -30px;
}


#test_area .owl-nav{
    position: absolute;
    top: 50%;
    width: 100%;
}
#test_area .owl-prev,
#test_area .owl-next{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background: rgb(176, 176, 176);
    position: absolute;
}
#test_area .owl-prev{
    left: -60px;
    top: -30px;
}
#test_area .owl-next{
    right: -60px;
    top: -30px;
}









/* -------------Main Finish--------------- */






/* ----------------footer Start----------- */



.footer{
    background-color: #A6ADB4;
    margin-top: 50px;
    
}
.container{
    max-width: 100%;
    margin: auto;
    padding: 54px 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 16%;
    padding: 0 15px;
}

.footer-col ul li a{
    font-size: 13px;
    font-weight: bold;
    color: #CBD0D3;
}
span{
    font-size: 17px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.email-col{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
form{
    position: relative;
}

form input{
    width: 100%;
    background: transparent;
    border: 1px solid #c7c7c7;
    outline: none;
    padding: 10px 20px;
    border-radius: 5px;
}
form button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    margin-top: 9px;
    right: 4px;
}
.footerp{
    margin-top: 16px;
    font-size: 11px;
    color: #fff;
}
.social{
    margin-left: 10px;
}
.social a{
    margin-left: 16px;
    font-size: 20px;
    color: white;
}





















